include includes/header.pug

header.bg-secondary.p-2
  nav.navbar.navbar-expand-lg.navbar-dark
    .navbar-brand
      | BlizzardFan&apos;s
    .container
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='#') Accueil
        li.nav-item
          a.nav-link(href='/profil') Profil
        li.nav-item
          a.nav-link(href='/messages') Messages
      form.form-inline.my-2.my-md-0(action='' method='GET' id="searchBar")
        input.form-control.mr-sm-2(type='search' name='searchUser' placeholder='Chercher' aria-label='Search' id="searchUser")
        button.btn.bg-light.my-2.my-sm-0(type='submit') Chercher
      button.btn.btn-danger.btn-sm.ml-4
        a.text-white(href="/logout") D&eacute;connexion
section
  .container-fluid
    .row.justify-content-around
      .card.mt-4.p-0
        .card-header.text-center
          h3 Demandes d'amis en attente
        .card-body  
          - for (var i = 0; i <= currentUserFriendsWaitingListData.length; ++i) {
              ul= "En attente"
                  li= currentUserFriendsWaitingListData[i]["pseudo"]
                  li= currentUserFriendsWaitingListData[i]["nom"] ,currentUserFriendsWaitingListData[i]["prenom"]
          - }
  .container-fluid
    .row.justify-content-around
      .card.mt-4.p-0
        .card-header.text-center
          h3 Liste d'amis
        .card-body  
          - for (var i = 0; i <= currentUserFriendsConfirmListData.length; ++i) {
              ul= "Amis"
                  li= currentUserFriendsConfirmListData[i]["pseudo"]
                  li= currentUserFriendsConfirmListData[i]["nom"] ,currentUserFriendsConfirmListData[i]["prenom"]
          - }
    .container-fluid
    .row.justify-content-around
      .card.mt-4.p-0
        .card-header.text-center
          h3 Autres utilisateurs
        .card-body  
          - for (var i = 0; i < allUserDataList.length; ++i) {
              ul= "Amis"
                  li= allUserDataList[i]["pseudo"]
                  li= allUserDataList[i]["nom"] ,allUserDataList[i]["prenom"]
          - }

include includes/footer.pug