include includes/header.pug

header.bg-secondary.p-2
  nav.navbar.navbar-expand-lg.navbar-dark
    .navbar-brand
      | BlizzardFan&apos;s
    .container
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/accueil') Accueil
        li.nav-item
          a.nav-link(href='/profil') Profil
        li.nav-item
          a.nav-link(href='/messages') Messages
      form.form-inline.my-2.my-md-0(action='searchBar' method='GET' id="searchBar")
        input.form-control.mr-sm-2(type='search' name='' placeholder='Chercher' aria-label='Search' id="searchUser")
        button.btn.bg-light.my-2.my-sm-0(type='submit') Chercher
      button#btndisconnect.btn.btn-danger.btn-sm.ml-4
          a.text-white(href="/logout") D&eacute;connexion
.card.mb-1.mt-2.container.pb-2(style='width: 540px')
  .row.no-gutters
    .col-md-4
      //- input#ajoutphoto(type="file", name="photo")
    .col-md-5
      .card-body
        #profilPseudo.card-title=pseudo 
        div
          span#profilNom.mr-5=nom 
          span#profilPrenom=prenom 
        #profilGenre=genre 
        #profilMail=mail 
        #profilVille=ville 
        #profilPreference=preference  
        button#btnModif.btn.btn-secondary.mt-1 Modifier le profil

#formModifProfil.card.mt-4.border-secondary.p-0.col-lg-5.container(style='absolute')
      h3.card-header.bg-dark.text-white Modifier votre Profil
      .card-body
        form(action='modifProfil' method='POST')
          .form-group
            label(for='pseudo') Pseudo
            input.form-control(type='text' name='pseudo')
          .form-group
            label(for='ville') Ville
            input.form-control(type='text' name='ville')
          .form-group
            label(for='motDePasse') Mot de passe
            input.form-control(type='password' name='motDePasse' placeholder='Créer votre mot de passe')
          .form-group
            label(for='preference') Pr&eacute;f&eacute;rence
            select#pref.custom-select(name='preference')
              option(selected='') Choissisez votre jeu Blizzard pr&eacute;f&eacute;r&eacute;
              option(value='World of Warcraft') World of Warcraft
              option(value='HearthStone') HearthStone
              option(value='Diablo') Diablo
              option(value='StarCraft') StarCraft
              option(value='Heroes of the Storm') Heroes of the Storm
              option(value='Owerwatch') Owerwatch
              option(value='Warcraft III') Warcraft III
          button.btn.bg-secondary.text-white(type='submit') Modifier
        button#annulModif.btn.bg-secondary.text-white.mt-1 Annuler

.container-fluid
  .row.justify-content-around
    section.col-lg-2
      .card.mt-4.p-0
        .card-header.bg-secondary.text-white.text-center
          | Menu
        .card-body
          div
            a.btn.btn-block.btn-secondary.text-light(href='/accueil' role='button') Accueil
          div
            a.btn.mt-1.btn-block.btn-secondary.text-light(href='/messages' role='button') Messages
          div
            a.btn.mt-1.btn-block.btn-secondary.text-light(href='/amis' role='button') Amis  
      .card.mt-4.p-0
        .card-header.bg-primary
          | Amis
        .card-body
          
    section.col-lg-6
      .card.mt-4.p-0
        .card-header
          h6 Publications
        .card-body
          form(action='' method='POST')
            .form-group
              label(for='actuProfil') Nouvelle Publification
              input.form-control(type='text' name='actuProfil' placeholder='Que voulez vous dire')
        .card-body
          

include includes/footer.pug
